.mat-cell:nth-child(3),
.mat-header-cell:nth-child(3) {
    flex: 10;
}

.warn {
    color: red;
}

mat-row.highlight {
    background-color: rgba(200, 200, 200, 0.3);
}

mat-cell mat-form-field {
    width: 100%;
}