<mat-accordion>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Studia inżynierskie
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-planning-table></app-planning-table>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Studia magisterskie
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-planning-table></app-planning-table>    
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Studia doktoranckie
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-planning-table></app-planning-table>
  </mat-expansion-panel>
</mat-accordion>