.element-row {
    position: relative;
    cursor: pointer;
}

.element-row:not(.expanded):hover {
background: #f5f5f5;
}

.element-row.expanded {
border-bottom-color: transparent;
}

.fab {
    position: fixed;
    bottom: 1rem;
    right: calc(1rem);
    z-index: 100;
}