<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title fxLayout="row" fxLayoutAlign="space-between">
      <span>{{lecturer.name}}</span>
      <span [ngClass]="{'warn': lecturer.linkHours < lecturer.title.min_hours}">{{lecturer.linkHours}}/{{lecturer.title.min_hours}}</span>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-chip-list #chipList [selectable]="true">
    <mat-chip *ngFor="let link of lecturer.links; let i = index" [selectable]="true" [removable]="true" (remove)="removeLink(i, link)">
      {{link.subject.name}} | {{link.hours}}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
</mat-expansion-panel>
