<form (submit)="closeDialog(data)">
  <mat-form-field>
    <input matInput placeholder="Prowadzący" [matAutocomplete]="auto" [formControl]="professorCtrl" [(ngModel)]="data.professor">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="formatProfessor">
      <mat-option *ngFor="let professor of filteredProfessors | async" [value]="professor">
        <span>{{ professor.name }}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button mat-raised-button [mat-dialog-close]=null tabindex="2">Anuluj</button>
  <button type="submit" mat-raised-button color="primary" tabindex="-1">Dodaj</button>
</form>