@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~normalize.css/normalize.css';

html, body, material-app, mat-sidenav-container, .my-content {
    margin: 0;
    width: 100%;
    height: 100%;
}

app-root {
    display: block;
    height: 100%;
}

router-outlet + *{
    flex: 1;
    position: relative;
}

div.container {
    min-height: calc(100% - 5px);
}

.busy {
    pointer-events: none;
}

.busy:after {
    display: block;
    content: "";
    background-color: steelblue;
    opacity: .4;
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: calc(100vh - 5px);
}

